# all folders starting with _ are local
_*/

.DS_Store
**/.vscode/ipch

# byte-compiled python files
*.py[cod]

/.vs

/app

/venv

/.venv

/exts/smartcow.ext.lp_sdg/smartcow/ext/lp_sdg/scene_utils/
/exts/smartcow.ext.lp_sdg/smartcow/ext/lp_sdg/synth_out/data
/exts/smartcow.ext.lp_sdg/smartcow/ext/lp_sdg/synth_out/snapshots
/exts/smartcow.ext.lp_sdg/smartcow/ext/lp_sdg/synth_out/cropped_images
/exts/smartcow.ext.lp_sdg/smartcow/ext/lp_sdg/synth_out/output_file.tsv
/exts/smartcow.ext.lp_sdg/smartcow/ext/lp_sdg/usd_scene/
