# all folders starting with _ are local
_*/

.DS_Store
**/.vscode/ipch

# byte-compiled python files
*.py[cod]

/.vs

/app

/venv

/.venv

/exts/smartcow.ext.lp_sdg/smartcow/ext/lp_sdg/usd_scene/Collected_scene
